<breadcrumbs
  [title]="'Galería'"
  [crumbs]="[
    {
      title: 'Inicio',
      url: 'home'
    },
    {
      title: 'Galería',
      url: 'galery'
    }
  ]"
></breadcrumbs>

<section class="page-banner bot-60">
  <img src="assets/slider/banner-6.jpg" alt="Acerca de Nosotros">
  <div></div>
</section>

<div class="grid-4 margin-10-percent bot-60">
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
    <div>
        <img src="assets/images/IMG_6263.JPG" alt="Pinturas Benavides">
    </div>
</div>