strong{
  margin-right: 30px;
}

span{
  color: #898989;
}

p{
  margin: 25px 0 !important;
  cursor: default;
  line-height: 30px;
  .link{
    &:hover{
      cursor: pointer;
    }
  }
  .arrow{
    margin: 0 10px;
  }
}
