<ng-container *ngIf="article; else loading">
  <breadcrumbs
    [title]="'Acerca de Nosotros'"
    [crumbs]="[
      {
        title: 'Inicio',
        url: 'home'
      },
      {
        title: 'Categoria de Producto',
        url: 'products'
      },
      {
        title: 'Nombre de Producto',
        url: 'detail/1'
      }
    ]"
  ></breadcrumbs>

  <section class="margin-10-percent bot-60" *ngIf="article">
    <div class="image-container"> 
      <!-- <div>
        <img src="assets/images/lata generica.jpg" alt="">
        <img src="assets/images/lata generica.jpg" alt="">
        <img src="assets/images/lata generica.jpg" alt="">
        <img src="assets/images/lata generica.jpg" alt="">
      </div> -->
      <img src="assets/images/lata generica.jpg" alt="">
    </div>

    <div>
      <h2>{{ article.name }}</h2>
      <p class="bot-30">
        {{ article.description }}
      </p>

      <div class="info top-divider top-30">
        <!-- <div class="bot-30">
          <h3>
            INFORMACIÓN DE USO
          </h3>

          <h4>
            <strong>TIEMPO DE SECADO</strong>
          </h4>

          <p>
            5 horas al tacto / 12 horas duro
          </p>

          <h4>
            <strong>APLICACIÓN</strong>
          </h4>

          <p>
            Rodillo / Pincel / Soplete / Inmersión
          </p>

          <h4>
            <strong>RENDIMIENTO</strong>
          </h4>

          <p>
            10 a 12m2/lt/mano
          </p>
        </div> -->

        <div class="bot-30">
          <h3>
            COLORES
          </h3>

          <div class="colors bot-30" (mouseleave)="colorName = selectedColor.name">
            <div *ngFor="let c of allColor; let i = index" 
            [style.background]="'#' + c.hex"
            (mouseover)="colorName = c.name"
            (click)="selectedColor = c"></div>
          </div>

          <p>Nombre de Color: {{ colorName }}</p>
        </div>

      </div>

      <div class="top-divider top-30">
        <div class="amount">
          <p><strong>CANTIDAD</strong></p>
          <div>
            <span (click)="changeValue('-')">-</span>
            <input type="number" [(ngModel)]="amount" (change)="changeValue(null)">
            <span (click)="changeValue('+')">+</span>
          </div>
          <button class="blue-bg">AÑADIR AL CARRITO</button>
        </div>
      </div>
    </div>

  </section>

  <div class="margin-10-percent bot-60 top-divider">

    <h3 class="bot-60">PRODUCTOS RELACIONADOS</h3>

    <div class="grid-4 bot-60" *ngIf="relatedArticles; else miniLoading">
      <article
      *ngFor="let i of relatedArticles, let idx = index"
        [article]="i"
        [index]="idx"
      ></article>
    </div>
  </div>
</ng-container>

<ng-template #loading>
  <page-loading></page-loading>
</ng-template>

<ng-template #miniLoading>
  <mini-loading></mini-loading>
</ng-template>