@import '../../common/variables.scss';

section{
  display: grid;
  grid-template-columns: 2fr 3fr;
  gap: 30px;
  div:nth-child(1){
    img{
      width: 100%;
      border-radius: 1px;
    }
  }
  div:nth-child(2){
    h2{
      text-align: left !important;
      color: $light-blue;
    }
    h3{
      margin-bottom: 15px !important;
    }
    h4{
      margin-bottom: 5px !important;
    }
    .info{
      display: grid;
      // grid-template-columns: 1fr 1fr;
    }
  }

  .image-container{
    // display: grid;
    // grid-template-columns: 100px 1fr;
    // gap: 15px;
    // div{
      img{
        // width: 100px;
        width: 100%;
        border-radius: 1px;
        margin: 0 0 10px;
        cursor: pointer;
        &:last-child{
          margin: 0;
        }
      }
    // }
  }
}

h3, strong{
  font-size: 16pt;
  font-weight: 600;
  color: $blue;
}

.top-divider{
  padding-top: 60px;
  border-top: 1px solid $light-grey;
  // border-top: 1px solid $light-green;
}

.amount{
  // display: grid;
  // grid-template-columns: 60pt 1fr 100pt;
  // gap: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  p{
    margin: 0;
  }
  div{
    display: grid;
    grid-template-columns: 25px 1fr 25px;
    gap: 15px;
    border-radius: 1px;
    border: 1px solid $light-grey;
    padding: 10px 5px;
    width: 100px;
    span{
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12pt;
      cursor: pointer;
      user-select: none;
    }
    input{
      border: none;
      outline: none;
      width: 16px;
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.colors{
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  > div{
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    width: 60px;
    height: 60px;
    border-radius: 1px;
    border: 1px solid $light-grey;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: $blue;
    // > div{
    // }
    &:active{
      cursor: pointer;
    }
  }
}

.bot-min-30{
  margin-bottom: -30px;
}

.top-min-30{
  margin-top: -30px !important;
}

.blue-bg{
  transition-duration: 0.3s;
  transition-timing-function: ease-out;
}

.disabled{
  background: $text;
}

@media screen and (max-width: 1200px) {
  section{
    div:nth-child(2){
      .info{
        display: grid;
        grid-template-columns: 1fr;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  section{
    grid-template-columns: 1fr;
    .image-container{
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 115px;
      div{
        display: flex;
        overflow-x: auto;
        grid-row: 2/3;
        img{
          height: 100px;
          width: auto;
          margin: 0 15px 0 0;
          &:last-child{
            margin: 0;
          }
        }
      }
    }
  }
}
