<ng-container *ngIf="article; else loadingArticle">
  <breadcrumbs
    [title]="'Acerca de Nosotros'"
    [crumbs]="[
      {
        title: 'Inicio',
        url: 'home'
      },
      {
        title: 'Categoria de Producto',
        url: 'products'
      },
      {
        title: 'Nombre de Producto',
        url: 'detail/1'
      }
    ]"
  ></breadcrumbs>

  <section class="margin-10-percent bot-60" *ngIf="article">
    <div class="image-container"> 
      <!-- <div>
        <img src="assets/images/lata generica.jpg" alt="">
        <img src="assets/images/lata generica.jpg" alt="">
        <img src="assets/images/lata generica.jpg" alt="">
        <img src="assets/images/lata generica.jpg" alt="">
      </div> -->
      <img [src]="apiRoute + '/image/' + article.image" alt="">
    </div>

    <div>
      <h2>{{ article.name }}</h2>
      <p class="bot-30">
        {{ article.description }}
      </p>
      <h3>Precio: {{ article.price }}  Bs.</h3>

      <ng-container *ngIf="!loading; else miniLoading">
        
        <div class="info top-divider top-30" *ngIf="allColor.length >= 1">

          <div class="bot-30">
            <h3>
              COLORES
            </h3>
  
            <div class="colors bot-30" 
            (mouseleave)="colorName = selectedColor.name; colorCode = selectedColor.code">
              <div *ngFor="let c of allColor; let i = index" 
              [style.background]="'#' + c.hex"
              (mouseover)="colorName = c.name; colorCode = c.code"
              (click)="selectedColor = c"></div>
            </div>
  
            <p>Nombre de Color: {{ colorCode }} {{ colorName }}</p>
          </div>

        </div>
          
      </ng-container>

      <div class="top-divider top-30 bot-min-30">
        <div class="amount">
          <p><strong>CANTIDAD</strong></p>
          <div>
            <span (click)="changeValue('-')">-</span>
            <input type="number" [(ngModel)]="article.amount" (change)="changeValue(null)">
            <span (click)="changeValue('+')">+</span>
          </div>
          <button 
            class="blue-bg" 
            (click)="addToCart()"
            [ngClass]="{disabled: article.amount == 0}" 
            [disabled]="article.amount == 0"
          >AÑADIR AL CARRITO</button>
        </div>
      </div>
    </div>

  </section>

  <ng-container *ngIf="!loading; else miniLoading">

    <div class="margin-10-percent bot-60 top-divider" *ngIf="relatedArticles.length >= 1">
  
      <h3 class="bot-30 top-min-30">PRODUCTOS RELACIONADOS</h3>
  
      <div class="grid-4 bot-60" >
        <article
        *ngFor="let i of relatedArticles, let idx = index"
          [article]="i"
          [index]="idx"
        ></article>
      </div>
    </div>

  </ng-container>

</ng-container>

<ng-template #loadingArticle>
  <page-loading></page-loading>
</ng-template>

<ng-template #miniLoading>
  <mini-loading></mini-loading>
</ng-template>