<breadcrumbs
  [title]="'Contacto'"
  [crumbs]="[
    {
      title: 'Inicio',
      url: 'home'
    },
    {
      title: 'Contacto',
      url: 'contact'
    }
  ]"
></breadcrumbs>

<section class="page-banner bot-60">
  <img src="assets/slider/banner-5.jpg" alt="Acerca de Nosotros">
  <div></div>
</section>

<section class="bot-30 margin-10-percent contact-content">
    <div>
        <div class="location-info">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.3806368527626!2d-69.32259848587724!3d10.067864474626097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e87670e4d01b59f%3A0xfef3230f8d634170!2sC.%2029%20%26%20Carrera%2021%2C%20Barquisimeto%203001%2C%20Lara!5e0!3m2!1sen!2sve!4v1643117835608!5m2!1sen!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div>
                <h3>SEDE PRINCIPAL</h3>
                <p>Carrera 21 esquina calle 29.</p>
                <span>
                    <p>(0416) - 615.58.44</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=04166155844'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
                <span>
                    <p>(0412) - 518.82.42</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=04125188242'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
                <span>
                    <p>(0251) - 232.96.72</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=02512329672'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
            </div>
        </div>
        <div class="location-info">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.2658090143163!2d-69.3152541858773!3d10.077292874465241!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e8767074f2b0d2d%3A0x6849e9ea7bda4db5!2sC.%2021%2C%20Barquisimeto%203001%2C%20Lara!5e0!3m2!1sen!2sve!4v1643118004628!5m2!1sen!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div>
                <h3>SEDE BARQUISIMETO - CENTRO</h3>
                <p>Calle 21, Edif. Car - ben, Local 1.</p>
                <span>
                    <p>(0424) - 558.83.45</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=04245588345'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
                <span>
                    <p>(0412) - 516.24.43</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=04125162443'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
            </div>
        </div>
        <div class="location-info">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.221293223888!2d-69.29793718587723!3d10.08094567440286!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e87678470802f45%3A0x52d4f17fb17ea4d0!2sC.C%20Pavo%20Real!5e0!3m2!1sen!2sve!4v1643118148038!5m2!1sen!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div>
                <h3>SEDE CABUDARE</h3>
                <p>Av. Libertador, C.C. Plaza Nivel PB, L-02. Frente a la Plaza Bolívar.</p>
                <span>
                    <p>(0424) - 587.41.97</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=04245874197'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                    </span>
                <span>
                    <p>(0416) - 651.58.45</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=04166515845'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
            </div>
        </div>
        <div class="location-info">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3928.3806368527626!2d-69.32259848587724!3d10.067864474626097!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e87670e4d01b59f%3A0xfef3230f8d634170!2sC.%2029%20%26%20Carrera%2021%2C%20Barquisimeto%203001%2C%20Lara!5e0!3m2!1sen!2sve!4v1643117835608!5m2!1sen!2sve" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            <div>
                <h3>SEDE CHURÚN MERÚ</h3>
                <p>C.C. Churún Merú, entrada posterior.</p>
                <span>
                    <p>(0424) - 547.33.79</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=04245473379'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
                <span>
                    <p>(0251) - 255.42.28</p>
                    <a [href]="'https://api.whatsapp.com/send?phone=02512554228'" target="_blank">
                        <img src="assets/images/icons/whatsapp.svg" alt="">
                    </a>
                </span>
            </div>
        </div>
    </div>
    <div class="contact-form">
        <h3>CONTÁCTANOS</h3>
        <div class="contact-input">
            <input type="text" placeholder="Nombre y Apellido *" [(ngModel)]="name">
            <span>{{ error.name }}</span>
        </div>
        <div class="contact-input">
            <input type="text" placeholder="Correo Electrónico *" [(ngModel)]="email">
            <span>{{ error.email }}</span>
        </div>
        <div class="contact-input">
            <input type="text" placeholder="Teléfono *" [(ngModel)]="phone">
            <span>{{ error.phone }}</span>
        </div>
        <textarea name="" id="" cols="30" rows="10" placeholder="Mensaje" 
        [(ngModel)]="message"></textarea>
        <button class="blue-bg" (click)="sendEmail()">
            Enviar formularío
        </button>
    </div>
</section>