@import '../../common/variables.scss';

.test{
  position: relative;
  .walls{
    height: calc(55vw - 1px);
    display: grid;
    grid-template-columns: 62% 38%;
    .left, .right{
      div{
        background: linear-gradient(
          0.25turn, 
          rgba(0, 0, 0,0.2), 
          rgba(0, 0, 0,0),
          rgba(0, 0, 0,0.2)
        );
        height: 100%;
      }
    }
  }
  h3{
    position: absolute;
    z-index: 2;
    top: 48vw;
    // color: $light-green;
    color: #ffffff;
    font-weight: 600;
    font-size: 20pt;
    letter-spacing: 3pt;
    text-align: center;
    width: 100%;
    text-shadow: #3e3e40 3px 3px 0px;
  }
  img{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }
  .controls{
    padding: 15px 30px;
    button{
      width: 100%;
      font-size: 14pt;
    }
    .active{
      background: $light-blue;
    }
    p {
      text-align: center;
      font-size: 14pt;
      margin: 15px !important;
    }
    .flex{
      display: flex;
      // justify-content: space-between;
      flex-wrap: wrap;
      gap: 15px;
      .color{
        width: 60px;
        height: 60px;
        border: 2px solid $light-grey;
        // margin: 0 2.5px 5px;
        cursor: pointer;
      }
    }
  }
}