<div class="test">

  <div class="walls">
    <div class="left" [style.background]="'#' + leftWall.hex">
      <div></div>
    </div>
    <div class="right" [style.background]="'#' + rightWall.hex">
      <div></div>
    </div>

  </div>

  <h3>Pinta con nosotros el hogar de tus sueños</h3>

  <div class="button-container">
    <div class="left-button" 
    [ngClass]="{active: currentWall == 0}"
    (click)="currentWall = 0">
      <img src="assets/images/icons/painting-roller.png" alt="">
    </div>

    <div class="right-button" 
    [ngClass]="{active: currentWall == 1}"
    (click)="currentWall = 1">
      <img src="assets/images/icons/painting-roller.png" alt="">
    </div>
  </div>

  <div class="controls">
    <div class="grid-2 bot-15">
      <div>
        <p>{{ leftWall.code }} {{ leftWall.name }}</p>
      </div>
      <div>
        <p>{{ rightWall.code }} {{ rightWall.name }}</p>
      </div>
    </div>

    <div class="flex">
      <div *ngFor="let c of colors" class="color"
      (click)="changeColor(c)"
      [style.background]="'#' + c.hex"></div>
    </div>
  </div>

  <img src="assets/images/wall/sim.png" alt="">

</div>