<div class="test">

  <div class="walls">
    <div class="left" [style.background]="'#' + leftWall.hex">
      <div></div>
    </div>
    <div class="right" [style.background]="'#' + rightWall.hex">
      <div></div>
    </div>
  </div>

  <h3>Simula El Hogar de tus sueños</h3>

  <div class="controls">
    <div class="grid-2 bot-15">
      <div>
        <button class="blue-bg" 
        [ngClass]="{active: currentWall == 0}"
        (click)="currentWall = 0">Pared Izquiera</button>
        <p>{{ leftWall.code }} {{ leftWall.name }}</p>
      </div>
      <div>
        <button class="blue-bg" 
        [ngClass]="{active: currentWall == 1}"
        (click)="currentWall = 1">Pared Derecha</button>
        <p>{{ rightWall.code }} {{ rightWall.name }}</p>
      </div>
    </div>

    <div class="flex">
      <div *ngFor="let c of colors" class="color"
      (click)="changeColor(c)"
      [style.background]="'#' + c.hex"></div>
    </div>
  </div>

  <img src="assets/images/wall/sim.png" alt="">

</div>