@import '../common/variables.scss';

header{
  display: grid;
  grid-template-columns: 100px 1fr auto;
  gap: 30px;
  align-items: center;
  padding: 0 30px;
  height: 100px;
  text-align: center;
  padding-top: 5px;
  img{
    width: 100px;
  }
  ul{
    padding: 0px;
    margin: 0px;
    list-style: none;
    a{
      color: black;
      text-decoration: none;
      // border: 2px solid white;
      transition-duration: 0.5s;
      // border-right: 2px solid $blue;
      margin-right: 15px;
      font-size: 14pt !important;
      // letter-spacing: 1px;
      padding: 5px 10px;
      // &:hover{
        // border-bottom: 2px solid $blue;
      // }
      &:last-of-type{
        // border-right: 0px;
        margin-right: 0px;
      }
      li{
        display: inline;
      }
    }
  }
  .cart{
    height: 45px;
    width: 45px;
    background: $blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    position: relative;
    cursor: pointer;
    div{
      position: absolute;
      height: 20px;
      width: 20px;
      background: $light-green;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -5px;
      right: -5px;
      color: $text;
    }
  }
}

footer{
  border-top: 2px solid $blue;
  padding: 30px;
  background: $dark-grey;
  gap: 30px;
  div:first-child{
    grid-row: 1/3;
    img{
      width: 150px;
    }
    text-align: center;
    p{
      text-align: justify;
    }
  }
  h3{
    color: $light-green;
    margin-bottom: 5px !important;
  }
  p{
    color: #898989;
    font-size: 10pt;
    margin-bottom: 5px;
    &:last-of-type{
      margin-bottom: 0 !important;
    }
  }
  span{
    display: flex;
    align-items: center;
    // justify-content: space-between;
    margin-top: 10px;
    p{
      margin: 0;
    }
    img{
      width: 24px;
      height: 24px;
      // background: white;
      margin-left: 15px;
      border-radius: 50%;
      cursor: pointer;
    }

  }

}

.network{
  display: flex;
  img{
    width: 30px;
    margin-right: 15px;
    &:last-of-type{
      margin-right: 0px;
    }
  }
}

.copyright{
  background: #424242;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  padding: 5px;
  p{
    margin: 0;
    color: #898989;
  }
}

.line{
  width: 100%;
  border-bottom: 2px solid $light-green;
}

#catalog{
  width: 100%;
  height: 18vw;
  margin-bottom: -6px;
  &:hover {
    cursor: pointer;
  }
}


@media screen and (max-width: 468px) {

  footer{
    p, h3{
      text-align: center;
    }
  }

}
