<section>
  <div>
    <img src="../../../assets/images/logo2.png" alt="Pinturas Bernavides">
    <a href="https://gentelonuestro.net/pinturasbenavides">PÁGINA WEB</a>
    <a href="https://gentelonuestro.net/pinturasbenavides">WHATSAPP</a>
    <a href="https://gentelonuestro.net/pinturasbenavides">FACEBOOK</a>
    <a href="https://gentelonuestro.net/pinturasbenavides">INSTAGRAM</a>
    <a href="https://gentelonuestro.net/pinturasbenavides">REVISTA</a>
  </div>


  <!-- <a [routerLink]="['/home']">Página Web</a>
  <a [routerLink]="['/home']">Página Web</a>
  <a [routerLink]="['/home']">Página Web</a>
  <a [routerLink]="['/home']">Página Web</a> -->

</section>
