@import '../../common/variables.scss';

.page-banner{
  img{
    position: relative;
    top: 15px;
  }
}

.center{
  margin-top: 30px;
  h1{
    font-size: 32pt !important;
    color: $blue;
    text-align: center;
    font-weight: 600;
    margin-bottom: 30px !important;
  }
}

.content{
  margin: 30px 10%;
  gap: 30px;
  align-items: center;
  p{
    text-align: justify;
  }
  img{
    width: 100%;
    border-radius: 1px;
  }
}
