<breadcrumbs
  [title]="'Acerca de Nosotros'"
  [crumbs]="[
    {
      title: 'Inicio',
      url: 'home'
    },
    {
      title: 'Acerca de Nosotros',
      url: 'about'
    }
  ]"
></breadcrumbs>

<section class="page-banner bot-60">
  <img src="assets/slider/banner-5.jpg" alt="Acerca de Nosotros">
  <div></div>
</section>

<section class="content grid-2 margin-10-percenct">

  <div>

    <h2>Reseña Historica</h2>
    <p>
      Sumamos un año más al servicio de Dios, ya son 17 años en el mercado larense, con el 
      deseo de poder crecer y hacer de Pinturas Benavides un referente nacional.
    </p>
    <p>
      Cómo empresa somos el resultado de haber comenzado desde cero, luego ganar la confianza 
      de su padre, nuestro actual Gerente General, tuvo que pasar por cada uno de los 
      departamentos del negocio, desde cargar bultos, preparar colores, que con el paso del 
      tiempo descubrió que amaba hacerlo, vender pinturas, comprar materia prima a los 
      proveedores, atender a los clientes, encargarse de la selección de personal, para luego 
      está a cargo de todo, transcurrieron muchos años en todo este proceso, colmados de 
      aprendizaje y transformación, su energía e ímpetu lo llevaron a tener un ritmo de 
      trabajo y esfuerzo que nadie podía igualar.
    </p>
    <p>
      Con el paso del tiempo y con muchas experiencias acumuladas, seleccionó un equipo de 
      personas de su entera confianza y lograron consolidar lo que hoy en día es Pinturas 
      Benavides una referencia en la ciudad, por ser una empresa confiable que genera fuentes 
      de empleo y oportunidades de crecimiento a todo el talento humano, que forma parte de 
      esta gran familia.
    </p>
    <p>
      En nuestro esfuerzo sostenido de seguir avanzando y de crecer en el nombre de Dios, 
      estamos presentes para servirle a la colectividad larense en nuestras sucursales. En el 
      centro de la ciudad en la carrera 22 esquina calle 29 y en Cabudare en la zona centro 
      Av. Libertador CC Plaza, nivel planta baja Local 02, frente a la plaza Bolívar. 
      Asimismo es importante destacar que en menos de un año y con el favor de Dios se 
      lograron inaugurar dos nuevas sedes, la primera en el CC Churún Merú y la más nueva 
      ubicada en la calle 30 entre la carrera 25 y la AV. Venezuela, estamos trabajando con 
      fe y confianza para entregarle toda la gloria a Dios.
    </p>
    <p>
      Hoy queremos agradecer a nuestro Señor Jesucristo por todos los logros alcanzados y 
      darnos la energía que necesitamos, para seguir trabajando y creciendo, para construir 
      el país que queremos.
    </p>

  </div>

  <img src="assets/images/quienes somos.JPG" alt="Reseña Historica">

  <img src="assets/images/about/mision.jpg" alt="Mision">

  <div>

    <h2>Misión</h2>

    <p>
      La comercialización de toda clase de pinturas y todo tipo de materiales para la 
      construcción, con el fin de satisfacer las necesidades y preferencias de nuestros 
      clientes. Colocando a la disposición constantemente una amplia variedad de marcas de 
      alta calidad y a los mejores precios.
    </p>
  </div>

  <div>

    <h2>Visión</h2>

    <p>
      Ser la empresa líder en la fabricación, distribución y comercialización de toda clase 
      de pinturas, así como también materiales para la construcción, manteniendo firme el 
      compromiso de prestar un servicio de mejor calidad, que se adapte a las necesidades de 
      cada cliente, como organización, nos planteamos el objetivo de ampliar la atención  y 
      servicio bajo la modalidad de franquicias para atender al púbico en todo el territorio 
      nacional.
    </p>
  </div>

  <img src="assets/images/about/vision.JPG" alt="Visión">

</section>
