<breadcrumbs
  [title]="'Acerca de Nosotros'"
  [crumbs]="[
    {
      title: 'Inicio',
      url: 'home'
    },
    {
      title: 'Acerca de Nosotros',
      url: 'about'
    }
  ]"
></breadcrumbs>

<section class="page-banner">
  <img src="assets/images/banners/about.jpg" alt="Acerca de Nosotros">
  <div></div>
</section>

<section class="content grid-2 margin-10-percenct">


  <div>

    <h2>Reseña Historica</h2>
    <p>
      La empresa abrió sus puertas el 01 de septiembre del 2004. Cabe destacar que
      esta es una empresa que nació en el ramo de las pinturas mucho antes que sus actuales
      propietarios, los conocimientos son herencia del abuelo Don Carlos Alberto Benavides
      Pérez quien fundó La Casa del Pintor en el año 1945. Desde ese entonces comenzó el
      grupo familiar a vivir gracias a Dios y al esfuerzo de este hombre quien enseño a su hijo
      Carlos Alberto Benavides Mendoza a trabajar y desenvolverse en el ramo. Ha sido una
      trayectoria muy larga; el Sr. Carlos Alberto Benavides Mendoza (segunda generación),
      estuvo al mando de La Casa del Pintor desde 1975 hasta el 2002. Es de resaltar que esta
      empresa se convirtió en una institución a nivel nacional, ya que era la tienda de pinturas
      con mejor atención, menores precios y la más surtida, siendo el mayor y detal del pintor en
      el ramo.
    </p>
    <p>
      Pablo Jesús Benavides Cestra, representa la tercera generación se dedicó a
      trabajar con su padre en este ramo desde el año 1999. Se graduó de bachiller y empezó
      en la universidad una carrera técnica contabilidad computarizada, la cual no culminó, ya
      que decidió dedicarse al trabajo. En fin tomó su trabajo como una carrera universitaria
      tanto así que se preparó siendo un empleado hasta lograr ser el encargado de la tienda de
      su familia. En el año 2003 decidió comprar y vender pinturas en la calle buscando otra
      entrada de dinero para ver si podía invertir en algo propio, esto trajo como consecuencias
      que los socios de su padre se molestaran por y esto, opto por renunciar a su trabajo en La
      Casa del Pintor e inscribió su propio registro de comercio, su papá lo apoyo
      económicamente a través de un préstamo bancario consiguieron el local que hoy ocupan.
      Al pasar un año tuvieron la oportunidad de alquilar otro al lado para ampliar el negocio;
      hoy en día la empresa cuenta con dos locales. Actualmente se han posicionado como una
      de las mejores empresas en la compra y venta de pinturas al mayor y detal en la zona
      centro occidental del país.
    </p>
  </div>

  <img src="assets/images/about/Reseña Historica.jpeg" alt="Reseña Historica">

  <img src="assets/images/about/Misión.JPG" alt="Mision">

  <div>

    <h2>Misión</h2>

    <p>
      Según Muñiz (2001), “La misión organizacional condiciona las actividades
      presentes y futuras proporciona unidad, sentido de dirección y guía en la toma de
      decisiones estratégicas”. La Misión de pinturas Benavides, S.A. es:
    </p>
    <p>
      La Comercialización de toda clase de pinturas y todo tipo de materiales para la
      construcción, con el fin de satisfacer las necesidades y preferencias de nuestros clientes.
      Colocando a la disposición constantemente una amplia variedad de marcas de alta calidad
      y a los mejores precios.
    </p>
  </div>

  <div>

    <h2>Visión</h2>

    <p>
      Según Vargas (2006), como: “La capacidad de ver más allá del tiempo y el espacio,
      para construir en la mente un estado futuro deseable que permita tener una claridad sobre
      lo que se quiere hacer y a donde se quiere llegar”. La Visión de Pinturas Benavides es:

    </p>
    <p>
      Ser una empresa líder en la comercialización de toda clase de pinturas y todo tipo
      de materiales para la construcción manteniendo firme el compromiso de prestar un
      servicio de mejor calidad que se adapte a las necesidades de cada cliente.
    </p>
  </div>

  <img src="assets/images/about/IMG_6263.JPG" alt="Visión">

</section>
