@import '../../common/variables.scss';

.article{
  background: white;
  width: 100%;
  transition-duration: 0.5s;
  transition-timing-function: ease-out;
  text-align: center;
  div:nth-child(1){
    border-radius: 1px;
    // border: 1px solid $light-grey;
    background-color: #ffffff;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 18vw;
    img{
      width: auto;
      height: 100%;
      transition-duration: 0.3s;
      transition-timing-function: ease-out;
      &:hover{
        transform: scale(1.1);
      }
      // object-fit: contain;
    }
  }
  &:hover {
    cursor: pointer;
  }
}

.white-article{
  background: $light-blue !important;
}

div:nth-child(2){
  // padding: 15px;
  h4{
    margin: 5px 0 0 !important;
    cursor: pointer;
    // text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .article{
    div:nth-child(1){
      height: 35vw;
    }
  }
}

@media screen and (max-width: 468px) {
  .article{
    div:nth-child(1){
      height: 70vw;
    }
  }
}
