<breadcrumbs
  [title]="'Productos'"
  [crumbs]="[
    {
      title: 'Inicio',
      url: 'home'
    },
    {
      title: 'Productos',
      url: 'products'
    }
  ]"
></breadcrumbs>

<section class="margin-10-percent bot-60">

  <div>
    <div class="department-menu">
      <div *ngFor="let d of departments" [className]="tab == d.id ? 'active' : 'closed'">
        <span (click)="changeTab(d.id)">
          {{ d.name }}
          <mat-icon>arrow_drop_down</mat-icon>
        </span>
        <p *ngFor="let c of d.categories" (click)="changeCategory(c.id)">
          {{c.name}}
        </p>
      </div>

    </div>
  </div>

  <div class="grid-3" *ngIf="products.length > 0; else noItems">
    <article *ngFor="let a of products; let idx = index"
    [article]="a"
    [index]="idx"></article>
  </div>

</section>

<ng-template #noItems> 

  <h2>No hay productos disponibles</h2>

</ng-template>
